<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs')%>
  <title>Log in</title>
</head>
<body>
  <div class="main">
    <%- include('./partials/navbar.ejs')%>
    <div>this is log in form</div>
    <%- include('./partials/footer.ejs')%>
  </body>
  </div>
</html>